.octopus-swag{
}
#hat{
	position: absolute;
	left: 750px;
	top: 190px;
	z-index: 1;
}
#glasses{
	position: absolute;
	top: 357px;
	left: 820px;
	z-index: 1;
}
#octopus{
	position: absolute;
	left: 775px;
	bottom: 415px;
}